---

---

<section class="flex gap-3 items-center flex-wrap">
  <a
    target="_blank"
    href="https://github.com/SivaramPg"
    class="border rounded flex gap-3 items-center justify-center p-3 shadow bg-gray-50 hover:shadow-md duration-100"
  >
    <img
      src="/icons/github.svg"
      alt="Github"
      class="w-6"
      loading="eager"
      width="24"
      height="24"
    />
  </a>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/sivaram-pandariganthan-b753a2145/"
    class="border rounded flex gap-3 items-center justify-center p-3 shadow bg-gray-50 hover:shadow-md duration-100"
  >
    <img
      src="/icons/linkedin.svg"
      alt="LinkedIn"
      class="w-6"
      loading="eager"
      width="24"
      height="24"
    />
  </a>
  <a
    target="_blank"
    href="https://sivarampg.medium.com/"
    class="border rounded flex gap-3 items-center justify-center p-3 shadow bg-gray-50 hover:shadow-md duration-100"
  >
    <img
      src="/icons/medium.svg"
      alt="Medium"
      class="w-6"
      loading="eager"
      width="24"
      height="24"
    />
  </a>
  <a
    target="_blank"
    href="https://x.com/SivaramPg"
    class="border rounded flex gap-3 items-center justify-center p-3 shadow bg-gray-50 hover:shadow-md duration-100"
  >
    <img
      src="/icons/x.svg"
      alt="Email Address"
      class="w-6"
      loading="eager"
      width="24"
      height="24"
    />
  </a>
  <a
    target="_blank"
    href="mailto:dev.sivaramp@gmail.com"
    class="border rounded flex gap-3 items-center justify-center p-3 shadow bg-gray-50 hover:shadow-md duration-100"
  >
    <img
      src="/icons/email.svg"
      alt="Email Address"
      class="w-6"
      loading="eager"
      width="24"
      height="24"
    />
    <p class="font-bold">Contact Me</p>
  </a>
</section>
