---
const { class: className } = Astro.props
---

<h2 class:list={['text-lg opacity-75', className]}>
  Full stack developer, specializing in React based frontends, with a keen eye
  on functionality & performance.
</h2>
