---
const { class: className } = Astro.props
---

<h2
  class:list={[
    'text-base md:text-lg font-bold text-gray-700 dark:text-gray-300 text-pretty',
    className,
  ]}
>
  Full stack developer, specializing in React based frontends, with a keen eye
  on functionality & performance.
</h2>
