---
const { title } = Astro.props
---

<div class="flex gap-4 items-center justify-center">
  <h2 class="text-3xl md:text-4xl font-bold whitespace-nowrap">
    {title}
  </h2>
  <hr class="w-full border-black/50 border-0 border-b-2" />
</div>
